#refresh {
    margin: 10px;
}

.gameboard{
    display:flex;
    height: 75vh;
    max-width: 33%;
    border: solid black;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.rows{
    flex: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.start{
    border: black;
    border-width: .1em;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    border-style: solid;
    background-color: white;
}

.wentover{
    background-color: black;
    opacity: 0;
}